<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBH6q8Pvm95ZoHODoJwCMOxtoGRwiwPMjM</string>
	<key>GCM_SENDER_ID</key>
	<string>723397347532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.docx.officeeditor.pdfeditor</string>
	<key>PROJECT_ID</key>
	<string>dep-document-editor-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>dep-document-editor-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723397347532:ios:f1c1ffd9c6a506526bda69</string>
</dict>
</plist>